<header>
<div class="container">
  <pre class="center black-text col s12 m12 l12" id="ascii"></pre>
</div>
<nav class="white z-depth-0">
<div class="container">
  <div class="row">

    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3">
          <a class="active black-text" id="profile-trigger" href="#about">About</a>
        </li>
        <li class="tab col s3">
          <a class="black-text soon-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="tab col s3">
          <a class="black-text soon-trigger" href="#blog">Blog</a>
        </li>
        <li class="tab col s3">
          <a class="black-text" href="#contact">Contact</a>
        </li>
      </ul>
    </div>

  </div>
</div>
</nav>

</header>
<br><br>
<main>
  <div class="container">
    <div id="about" class="col s12 m12 l12">
        <div class="row">
            <img id="profile-pic" class="hide col s4 m4 l4 offset-s4 offset-m4 offset-l4" src="images/moi.jpg">
            <img id="profile-ascii" class="col s4 m4 l4 offset-s4 offset-m4 offset-l4" src="images/moiascii.png">
        </div>
        
        <div class="row">
          <div class="col s8 m8 offset-s2 offset-m2">
            <p id="bio-text" class="flow-text light">Some of my first coding experiences involved replicating complex ASCII art in DOS. I'd save my progress to 5.25-inch floppy disks. I can still vividly hear the click and whir of the drive, and though much has changed, the endless frustration and occasional thrill of the feedback loop's reward keeps me hanging on.</p>
          </div>
        </div>

      </div>
    </div>

    <div id="portfolio" class="col s12 m12 l12">
      <div class="row center">
        <pre class="coming"></pre>
        <pre class="soon"></pre>
      </div>
    </div>

    <div id="blog" class="col s12 m12 l12">
      <div class="row center">
        <pre class="coming"></pre>
        <pre class="soon"></pre>
      </div>

    </div>
    <div id="contact" class="col s12 m12 l12">
      <div class="container">
      <div class="row">
      <form class="col s8 m6 l6 offset-s2 offset-m3 offset-l3" method="POST" action="/contact?_method=POST">
        <div class="row">
          <div class="input-field col s12">
            <input name="name" id="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="message" name="message" class="materialize-textarea"></textarea>
            <label for="message">Message</label>
          </div>
        </div>
        <div class="row center">
          <button class="btn waves-effect waves-light white black-text" type="submit" name="action">SUBMIT
          </button>
        </div>
      </form>
      </div>
      </div>

    </div>
    
  </div>
</div>
</main>

<footer class="page-footer white">
    <div class="container">
      <div class="center">&copy; 2016 Albert Min</div>
    </div>
    <br><br>
</footer>