/* Custom Stylesheet */

#bio-text {
  line-height: 1.5em;
}
.social {
  padding: 5px;
}

.indicator {
  background-color: #000 !important;
}
.hide {
  display: none;
}
.show {
  display: block;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
 /* label focus color */
   .input-field textarea:focus + label {
     color: #000 !important;
}
/* label underline focus color */
   .input-field textarea:focus, .chips {
     border-bottom: 1px solid #000 !important;
     box-shadow: 0 1px 0 0 #000 !important;
   }
/* label focus color */
 .input-field input:focus + label {
   color: #000 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #000 !important;
   box-shadow: 0 1px 0 0 #000 !important
 }

 @media screen and (min-width: 25em){
  #ascii {
    font-size: calc(12px + (14 - 12) * (100vw - 400px) / (800 - 400));
  }
  .coming {
    font-size: calc(6px + (10 - 6) * (100vw - 400px) / (800 - 400));
  }
  .soon {
    font-size: calc(6px + (10 - 6) * (100vw - 400px) / (800 - 400));
  }
}

/* Defaults for lists to override materialize */
/* Indenting */
/*.browser-default ul, ol {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}*/
/* Unordered list styling */
.browser-default ul li {
  list-style-type: initial;
}
.browser-default ul li li,
.browser-default ol li ul li li,
.browser-default ol li li ul li li {
  list-style-type: circle;
}
.browser-default ul li li li,
.browser-default ol li ul li li li {
  list-style-type: square;
}
.browser-default ul li li li li,
.browser-default ol li ul li {
  list-style-type: disc;
}
.browser-default ul li li li li li {
  list-style-type: circle;
}
/* Ordered list styling */
.browser-default ol li,
.browser-default ul li ol li {
  list-style-type: decimal;
}
.browser-default ol li li,
.browser-default ul li ol li li {
  list-style-type: upper-alpha;
}
.browser-default ol li li li,
.browser-default ul li ol li li li {
  list-style: lower-alpha;
}
.browser-default ol li li li li {
  list-style: upper-roman;
}
.browser-default ol li li li li li {
  list-style: lower-roman;
}


.collapsible-header {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
pre {
  overflow-y: hidden;
}

.collapsible-body p {
  padding: 0 !important;
}